/* Region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boolando-white: #FFFFFF;
    --boolando-orange: #FF6801;
    --boolando-black: #1A1A1A;
    --boolando-red: #FF0000;
    --boolando-green: #008000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Endregion Common */


/* Region Utility */
.d-flex {
    display: flex;
}

.container {
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 0.25rem;
}

a {
    text-decoration: none;
    color: var(--boolando-white);
}

.row {
    display: flex;
}

.row-1 {
    display: flex;
    padding-top: 7rem;
}

.row-2 {
    display: flex;
    padding-top: 3rem;
}


.col-4 {
    width: calc(100% / 12 * 4);
    padding: 0 0.5rem;
}

.col-6 {
    width: calc(100% / 12 * 6);
    padding: 2rem 0;
}

.p-brand {
    font-size: small;
}

.p-price {
    color: var(--boolando-red);
    font-weight: bold;
}

.p-name {
    font-weight: bold;
}

/* Endregion Utility */

/* Region Header */
#site_header {
    background-color: var(--boolando-orange);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav.container.d-flex {
    justify-content: space-between;
    align-items: center;
}

.socials a {
    padding: 0 0.25rem;
}

/* Endregion Header */


/* Region Main */

.col-4 img {
    width: 100%;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
    position: absolute;
}

.img-1b,
.img-2b,
.img-3b,
.img-4b,
.img-5b,
.img-6b {
    position: absolute;
}

[class^="card-"] {
    width: 368px;
    height: 531px;
    position: relative;
}

.img-1:hover {
    opacity: 0;
}

.img-2:hover {
    opacity: 0;
}

.img-3:hover {
    opacity: 0;
}

.img-4:hover {
    opacity: 0;
}

.img-5:hover {
    opacity: 0;
}

.img-6:hover {
    opacity: 0;
}

.prod-info.d-flex {
    flex-direction: column;
    padding-top: 0.25rem;
}

.heart {
    background-color: var(--boolando-white);
    position: absolute;
    z-index: 1;
    right: 0;
    top: 15px;
    text-align: center;
}

.fa-solid.fa-heart {
    padding: 10px;
}

.fa-solid.fa-heart:hover {
    color: var(--boolando-red);
}

.discount {
    background-color: var(--boolando-red);
    color: var(--boolando-white);
    position: absolute;
    z-index: 1;
    bottom: 20px;
    padding: 0.2rem 0.1rem;
}

span.off {
    font-size: 12px;
    padding: 0.5rem;
    font-weight: bold;
}

.green {
    background-color: var(--boolando-green);
    color: var(--boolando-white);
    position: absolute;
    z-index: 1;
    left: 50px;
    bottom: 20px;
    padding: 0.35rem 0.4rem;
    font-size: 12px;
    font-weight: bold;
}

.green6 {
    background-color: var(--boolando-green);
    color: var(--boolando-white);
    position: absolute;
    z-index: 1;
    bottom: 20px;
    padding: 0.35rem 0.4rem;
    font-size: 12px;
    font-weight: bold;
}

/* Endregion Main */

/* Region Footer */

#site_footer {
    background-color: var(--boolando-black);
    color: var(--boolando-white);
    margin-top: 3rem;
}

.container#site_footer {
    padding-top: 2rem;
}

.footer {
    padding: 2rem 0;
}

.info {
    padding-top: 0.5rem;
    font-size: smaller;
    gap: 0.5rem;
}

.socials.d-flex {
    justify-content: right;
}

.company.d-flex {
    flex-direction: column;
}

.col-6.d-flex {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: smaller;
}

.socials.d-flex {
    gap: 0.5rem;
    font-size: medium;
    padding-top: 0.5rem;
}