/* Region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boolando-white: #FFFFFF;
    --boolando-orange: #FF6801;
    --boolando-black: #1A1A1A;
    --boolando-red: #FF0000;
    --boolando-green: #008000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Endregion Common */


/* Region Utility */
.d-flex {
    display: flex;
}

.container {
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 0.25rem;
}

a {
    text-decoration: none;
    color: var(--boolando-white);
}

.row {
    display: flex;
    padding-top: 6rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 0 0.5rem;
}

.p-brand {
    font-size: small;
}

.p-price {
    color: var(--boolando-red);
    font-weight:bold ;
}

.p-name {
    font-weight: bold;
}

/* Endregion Utility */

/* Region Header */
#site_header {
    background-color: var(--boolando-orange);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav.container.d-flex {
    justify-content: space-between;
    align-items: center;
}

.socials a {
    padding: 0 0.25rem;
}

/* Endregion Header */


/* Region Main */

.col-4 img {
    width: 100%;
}

.img-1, .img-2, .img-3 {
    position: absolute;
}

.img-1b, .img-2b, .img-3b {
position: absolute;
}

[class^="card-"]
{
    width: 368px;
    height: 531px;
    position: relative;
}

.img-1:hover {
    opacity: 0;
}

.img-2:hover {
    opacity: 0;
}

.img-3:hover {
    opacity: 0;
}

.prod-info.d-flex {
    flex-direction: column;
    padding-top: 0.25rem;
}

.heart {
    background-color: var(--boolando-white);
    position: absolute;
    z-index: 1;
    right: 0;
    top: 15px;
    text-align: center;
}

.fa-solid.fa-heart {
    padding: 10px;
}

.fa-solid.fa-heart:hover {
    color: var(--boolando-red);
}

.discount {
    background-color: var(--boolando-red);
    color: var(--boolando-white);
    position: absolute;
    z-index: 1;
    bottom: 20px;
    padding: 0.2rem 0.1rem;
}

span.off {
    font-size: 12px;
    padding: 0.5rem;
    font-weight: bold;
}

.green {
    background-color: var(--boolando-green);
    color: var(--boolando-white);
    position: absolute;
    z-index: 1;
    left: 50px;
    bottom: 20px;
    padding: 0.35rem 0.4rem;
    font-size: 12px;
    font-weight: bold;
}
